/* .Flow {
  flex-grow: 1;
  font-size: 12px;
} */

.react-flow__node-custom, .react-flow__node-CustomNode1, .react-flow__node-CustomNode2, .react-flow__node-CustomNode5, .react-flow__node-CustomNode6, .react-flow__node-CustomNode7, .react-flow__node-CustomNode8, .react-flow__node-CustomNode9   {
  border: 1px solid #555;
  padding: 0;
  width: auto;
  border-radius: 3px;
}

.start{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #166534;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  
}

.start p {
  font-size: 25px;
  font-family: Roboto 700;
}

.ha{
  background-color: red;
}

.ct{
  border-radius: 30%;
}

